nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
}
nav img{
    user-select: none;
    cursor: pointer;
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 48px;
}
nav li{
    list-style: none;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.5;
    cursor: pointer;
}
nav a{
    text-decoration: none;
    color: #1F1534;
   
}
nav li a:hover{
    font-weight: 700;
    opacity: 1;
}