* {
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 82.08%, rgba(227, 255, 248, 0.38) 100%);
    min-height: 100vh;
}
.page{
    margin: 65px auto 0;
    width: 1000px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}
#balls-decoration{
    width: 98px;
    height: 88px;
    position: fixed;
    bottom: 0;
    right: 0;
}

